<main>
    <hr>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary">Fly mode</button>
            <button class="btn btn-secondary">Sleep mode</button>
            <button class="btn btn-success btn-sm">Eco mode</button>
            <button class="btn btn-danger btn-lg"><span class="text-uppercase">Power mode</span></button>
            <button class="btn btn-warning">Boost mode</button>
        </div>
    </div>
    <p> </p>
    <button class="btn btn-info">Dry mode</button>
    <button class="btn btn-light"><span class="text-muted">Light mode</span></button>
    <button class="btn btn-dark">Night mode</button>
    <button class="btn btn-link">Hiper mode</button>
    <hr>

    <div class="display-6">Посилання під кнопкою:</div>
    <a href="/" class="btn btn-outline-primary">
        <span class="text-uppercase">home</span>
    </a>
    <hr>

    <div class="card">
        <div class="card-body">
            <p class="text-primary">text-primary:Григорій Квітка-Основ’яненко — один
                із учнів Григорія Сковороди. </p>
            <p class="text-secondary">text-secondary:Григорій Квітка-Основ’яненко — один
                із учнів Григорія Сковороди. </p>
            <p class="text-success">text-success:Григорій Квітка-Основ’яненко — один
                із учнів Григорія Сковороди. </p>
            <p class="text-danger">text-danger:Григорій Квітка-Основ’яненко — один
                із учнів Григорія Сковороди. </p>
            <p class="text-warning">text-warning:Григорій Квітка-Основ’яненко — один
                із учнів Григорія Сковороди. </p>
            <p class="text-info">text-info:Григорій Квітка-Основ’яненко — один
                із учнів Григорія Сковороди. </p>
            <p class="text-light">text-light:Григорій Квітка-Основ’яненко — один
                із учнів Григорія Сковороди. </p>
            <p class="text-dark">text-dark:Григорій Квітка-Основ’яненко — один
                із учнів Григорія Сковороди. </p>
        </div>
    </div>

    <hr>
    <p class="text-primary">text-primary:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-secondary">text-secondary:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-success">text-success:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-danger">text-danger:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-warning">text-warning:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-info">text-info:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-light">text-light:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-dark">text-dark:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>


    <hr>
    <h1>Page title -- Заголовок страницы</h1>
    <h2>Page title -- Заголовок страницы</h2>
    <h3>Page title -- Заголовок страницы</h3>
    <h4>Page title -- Заголовок страницы</h4>
    <h5>Page title -- Заголовок страницы</h5>
    <h6>Page title -- Заголовок страницы</h6>
    <hr>
    <div class="display-1 text-muted">Page title -- Заголовок страницы</div>
    <div class="display-2">Page title -- Заголовок страницы</div>
    <div class="display-3 text-center">Page title -- Заголовок страницы</div>
    <div class="display-4">Page title -- Заголовок страницы</div>
    <div class="display-5 text-muted">Page title -- Заголовок страницы</div>
    <div class="display-6">Page title -- Заголовок страницы</div>
    <hr>
    <span>Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. У Великого Учителя виріс
        великий учень. Коли йому було уже за сорок — це проявилося
        у серії чудових прозових творів, деякі із них відомі й досі.
        Це Квітка-Основ’яненко написав “Шельменко-денщик” та “Сватання
        на Гончарівці”, написав перший детектив новою українською
        мовою “Козир-дівка”, першим перекладався на західні мови. Тарас
        Шевченко присвятив йому вірша та ілюстрував видання його творів.
        Всі діяння Квітки-Основ’яненка дали йому неофіційний титул
        “батька української прози” і завдяки ним ми зараз відзначаємо
        його ювілей згідно із постановою Верховної Ради.</span><br>
    <hr>
    <p class="text-muted text-center">Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. У Великого Учителя виріс
        великий <span class="display-6"> учень. </span>Коли йому було уже за сорок — це проявилося
        у серії чудових прозових творів, деякі із них відомі й досі.
        Це Квітка-Основ’яненко написав “Шельменко-денщик” та “Сватання
        на Гончарівці”, написав перший детектив новою українською
        мовою “Козир-дівка”, першим перекладався на західні мови. Тарас
        Шевченко присвятив йому вірша та ілюстрував видання його творів.
        Всі діяння Квітки-Основ’яненка дали йому неофіційний титул
        “батька української прози” і завдяки ним ми зараз відзначаємо
        його ювілей згідно із постановою Верховної Ради.</p>
    <hr>
    <div class="text-center">Григорій Квітка-Основ’яненко </div>
    <hr>
    <div class="text-end">Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. У Великого Учителя виріс
        великий учень. Коли йому було уже за сорок — це проявилося
        у серії чудових прозових творів, деякі із них відомі й досі.
        Це Квітка-Основ’яненко написав “Шельменко-денщик” та “Сватання
        на Гончарівці”, написав перший детектив новою українською
        мовою “Козир-дівка”, першим перекладався на західні мови. Тарас
        Шевченко присвятив йому вірша та ілюстрував видання його творів.
        Всі діяння Квітки-Основ’яненка дали йому неофіційний титул
        “батька української прози” і завдяки ним ми зараз відзначаємо
        його ювілей згідно із постановою Верховної Ради.</div>
    <hr>
    <span class="text-uppercase">Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. У Великого Учителя виріс
        великий учень. Коли йому було уже за сорок — це проявилося
        у серії чудових прозових творів, деякі із них відомі й досі.
        Це Квітка-Основ’яненко написав “Шельменко-денщик” та “Сватання
        на Гончарівці”, написав перший детектив новою українською
        мовою “Козир-дівка”, першим перекладався на західні мови. Тарас
        Шевченко присвятив йому вірша та ілюстрував видання його творів.
        Всі діяння Квітки-Основ’яненка дали йому неофіційний титул
        “батька української прози” і завдяки ним ми зараз відзначаємо
        його ювілей згідно із постановою Верховної Ради.</span>
    <hr>
    <span class="text-lowercase">Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. У Великого Учителя виріс
        великий учень. Коли йому було уже за сорок — це проявилося
        у серії чудових прозових творів, деякі із них відомі й досі.
        Це Квітка-Основ’яненко написав “Шельменко-денщик” та “Сватання
        на Гончарівці”, написав перший детектив новою українською
        мовою “Козир-дівка”, першим перекладався на західні мови. Тарас
        Шевченко присвятив йому вірша та ілюстрував видання його творів.
        Всі діяння Квітки-Основ’яненка дали йому неофіційний титул
        “батька української прози” і завдяки ним ми зараз відзначаємо
        його ювілей згідно із постановою Верховної Ради.</span>
    <hr>
    <span class="text-capitalize">Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. У Великого Учителя виріс
        великий учень. Коли йому було уже за сорок — це проявилося
        у серії чудових прозових творів, деякі із них відомі й досі.
        Це Квітка-Основ’яненко написав “Шельменко-денщик” та “Сватання
        на Гончарівці”, написав перший детектив новою українською
        мовою “Козир-дівка”, першим перекладався на західні мови. Тарас
        Шевченко присвятив йому вірша та ілюстрував видання його творів.
        Всі діяння Квітки-Основ’яненка дали йому неофіційний титул
        “батька української прози” і завдяки ним ми зараз відзначаємо
        його ювілей згідно із постановою Верховної Ради.</span>
</main>