<main>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brilliance"
        viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16ZM1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7Z" />
    </svg> <span><img src="/svg/i1.svg"></span>Тексты, кнопки, блоки <span><img src="/svg/i1.svg"></span> <span><img
            src="/svg/i1.svg"></span><span> <img src="/svg/i2.svg"></span>

    <div class="display-3 p-5"><i class="bi bi-cloud-sleet"></i> Просто абзац текста . . . </div>

    <div class="display-3 p-2 text-muted"><i class="bi bi-currency-exchange"></i> Просто абзац текста . . . </div>

    <div class="text-center">Text-centered</div>

    <div class="text-end">Text on the right</div>

    <button class="btn btn-primary">Start</button>
    <button class="btn btn-warning">Esc</button>
    <button class="btn btn-outline-success btn-sm">small success</button>
    <button class="btn btn-success btn-lg"><i class="bi bi-bank2"></i> big success</button>

    <div class="text-danger text-bg-warning">Просто текст для раскраски</div>

    <div class="card text-bg-success">
        <div class="card-body">
            <div class="card text-bg-secondary">
                <div class="card-body text-center text-light">Text into the card</div>
            </div>
        </div>
    </div>

    <p class="text-danger text-center text-bg-warning mb-0">Просто текст для раскраски</p>
    <span class="text-danger text-center text-bg-warning">Просто текст для раскраски</span>
    <h1 class="text-danger text-center text-bg-warning mb-0">Просто текст для раскраски</h1>
    <p class="text-danger text-center text-bg-warning">Просто текст для раскраски</p>
    <span class="text-danger text-center text-bg-warning">Просто текст для раскраски</span>

    <div class="card">
        <span class="text-center py-2"> i someThing here</span>
        <button class="btn btn-primary">Hello!</button>
    </div>

    <div class="display-5 p-4"><strong>Карточки, таблицы и колонки</strong></div>

    <p class="text-muted p-3">card</p>


    <div class="card">
        <img class="card-img-top" src="https://picsum.photos/600/300" alt="foto">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>Some text or article</p>
        </div>
    </div>

    <p class="text-muted p-3">List ul-li</p>

    <div class="card">
        <div class="card-header">
            Header - title - Menu
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">First item</li>
            <li class="list-group-item">Second item</li>
            <li class="list-group-item">Third item</li>
        </ul>
        <div class="card-footer">Footer</div>
    </div>

    <p class="text-muted p-3">List div</p>

    <div class="list-group">
        <div class="list-group-item">item 1</div>
        <div class="list-group-item">item 2</div>
        <div class="list-group-item">item 3</div>
    </div>

    <p class="text-muted p-3">Table</p>

    <table class="table>">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Vitalii</td>
            </tr>
            <tr>
                <td>2</td>
                <td>John</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>total</th>
                <th>winner</th>
            </tr>
        </tfoot>
    </table>

</main>