{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main>
    <div class="p-5">
        <h3>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>

        <button type="button" class="btn btn-secondary">Купити</button>
    </div>

    <div>
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
            aria-expanded="false" aria-controls="collapseWidthExample">
            Toggle width collapse
        </button>
    </div>
    <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card card-body" style="width: 300px;">
                This is some placeholder content for a horizontal collapse. It's hidden by default and shown when
                triggered.
            </div>
        </div>
    </div>
</main>
{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}