<section class="text-end my-1 pe-0 me-0">

    <div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Staff only
        </button>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Home</a></li>
            <li><a class="dropdown-item" href="/person">Person</a></li>
            <li><a class="dropdown-item" href="/bio">Bio</a></li>
            <li><a class="dropdown-item" href="/program">Program</a></li>
            <li><a class="dropdown-item" href="/web">Web</a></li>
            <li><a class="dropdown-item" href="/js">JS</a></li>
            <li><a class="dropdown-item" href="/car">Car</a></li>
            <li><a class="dropdown-item" href="/facebook">Facebook</a></li>
            <li><a class="dropdown-item" href="/mac">Mac</a></li>
            <li><a class="dropdown-item" href="/bootstrap">Bootstrap</a></li>
            <li><a class="dropdown-item" href="/task21">task21</a></li>
            <li><a class="dropdown-item" href="/task22">task22</a></li>
            <li><a class="dropdown-item" href="/task31">task31</a></li>
            <li><a class="dropdown-item" href="/shophome">shophome</a></li>
            <li><a class="dropdown-item" href="/shoporder">shoporder</a></li>
            <li><a class="dropdown-item" href="/shopcart">shopcart</a></li>
            <li><a class="dropdown-item" href="/shopprofile">shopprofile</a></li>
        </ul>

    </div>

</section>